@charset "UTF-8";

body{
 background-color: #F0FFF0;
 width: 100%;
 height: 100%;
 color: #708090;
}

div{
	font-size: 8pt;
	color: red;
	font-weight: bold;
	
}

h2, #mainimg{
	text-align: center;
	align-content: center;
	color: #3CB371;
}

table{
	background: #F0F8FF;
	color: #708090;
	border-color: #708090;
}

#checkBtn, #resetBtn {
	background: #AFEEEE;
}
#idCheckBtn, #zipBtn{
	background: #F0FFFF;
}



